

.navigation__nav-link-profile {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  background: #313131;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  border: none;
}

.navigation__nav-link {
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  text-decoration: none;
}

.navigation__nav-link-item {
  list-style-type: none;
  padding: 0;
  display: flex;
  padding-left: 30px;
}


.navigation__nav-link-item:first-of-type {
  padding-left: 60px;
}


.navigation__nav-link-list {
  padding: 0;
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: center;

}

.navigation__nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




@media screen and (max-width: 1024px) {
  .navigation__nav-menu {
    display: none;
  }
}

@media screen and (max-width: 600px) {}